<footer>
  <p>
    License
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
    🄯 By Michael Koppmann –
    <a href="mailto:me+www@mkoppmann.at">E-Mail</a>
    | <a href="https://matrix.to/#/@shibayashi:ncrypt.at">Matrix</a>
  </p>
</footer>
